<!DOCTYPE html>
<html>
<!--Code written by Jozimar Basilio, based on Mikhail's code  -->
<head>
	<!-- Google API to use the Icons from Material Design. -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Materialize Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<!-- Compiled and minified JavaScript from Materialize 1 -->
	<title>My Library </title>
</head>

<body style="margin:0px; padding:0px; width:100%; background-color: black;">
	<header>

		<!-- Navigation Bar is the blue retangule with buttons seen on top of the screen -->
		<nav>
			<div class="nav-wrapper light-blue darken-4">
				<a href="/" class="brand-logo center"><img
                        src="https://cdn2.iconfinder.com/data/icons/children-recreational-activities-and-facilities/114/find002-512.png"
                        alt="" style="position:absolute; width:50px; height: 50px; margin-top: 5px;"></a>
					<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
					<ul id="nav-mobile" class="left hide-on-med-and-down" style="margin-left: 0px;">
						<li><a href="/">Home</a></li>
					</ul>
			</div>
		</nav>


		<!-- This is the nav bar for smaller screens  -->
		<ul class="sidenav" id="mobile-demo">
			<li><a href="/">Home</a></li>
		</ul>
		
		<img src="https://jooinn.com/images/open-book-45.jpg"
         alt="" style="position:absolute; width:100%;"/>
    </header>

		<!-- White panel to display the content -->
		<div class="container" style="background-color: white;">
			<h1 style="position:relative; color: white; text-align: center;">Welcome to My Library</h1>

			<a class="waves-effect waves-light btn modal-trigger light-blue darken-4" href="#modal1">Add a New Book</a>

			<!-- This is the modal that opens a form to add a new book -->
			<div id="modal1" class="modal">
				<div class="modal-content">
					<div style="position:relative; background-color: white; text-align: center; padding: 50px"
						class="container">
						<h3 style="position:relative; text-align: center;">Register a New Book</h3>

						<!--  Form to add a new book -->
						<form class="col s12" enctype="application/json" action="/" method="POST">
							<div class="row">
								<div class="input-field col s12">
									<input placeholder="Eg. The Broken Code" name="Title" type="text" class="validate" required="required"
                       pattern="[a-zA-Z0-9 ]{1,50}">
									<label for="title">Title *</label>
									<span class="helper-text"
                      data-error="This is a mandatory field. It can only contain letters and numbers."
                      data-success="Valid"></span>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12">
									<input placeholder="Eg. A nightmare of an IT student" name="Subtitle" type="text" class="validate"
                       pattern="[a-zA-Z0-9 ]{1,50}">
									<label for="subtitle">Subtitle</label>
									<span class="helper-text" data-error="It can only contain letters and numbers."
                      data-success="Valid"></span>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12">
									<input placeholder="Eg. Bruno Ribeiro" name="Autor" type="text" class="validate" required="required"
                       pattern="[A-Za-z ]{1,50}">
									<label for="author">Author *</label>
									<span class="helper-text" data-error="This is a mandatory field. It can only contain letters."
                      data-success="Valid"></span>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12">
									<input placeholder="Eg. CCT College Books" name="Publisher" type="text" class="validate"
                       required="required" pattern="[A-Za-z0-9 ]{1,50}">
									<label for="publisher">Publisher *</label>
									<span class="helper-text"
                      data-error="This is a mandatory field.  It can only contain letters and numbers."
                      data-success="Valid"></span>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12">
									<input placeholder="Eg. 2019/2ª" name="Year" type="text" class="validate" required="required"
                       pattern="[0-9/ª]{1,8}">
									<label for="year_edition">Edition *</label>
									<span class="helper-text" data-error="This is a mandatory field. Please match with the format given."
                      data-success="Valid"></span>
								</div>
							</div>
							<p>
								<label>
                <input type="checkbox" id="checked" value="yes" onclick="javascript:unhide()"/>
                <span>Already read it?</span>
            </label>
							</p>
							<div id="year" style="visibility: hidden;" class="row" value="false">
								<div class="input-field col s12">
									<input placeholder="Eg. 2019" name="ReadYear" type="text" class="validate" pattern="[0-9]{1,4}">
									<label for="read_year">When?</label>
									<span class="helper-text" data-error="Please match with the format given." data-success="Valid"></span>
								</div>
							</div>
							<button class="btn waves-effect waves-light" type="submit" name="post">Register
            <i class="material-icons right">send</i>
                </button>
						</form>
					</div>

				</div>



			</div>
			<p style="position:relative; color: white;">Click on the item you want to update or delete.</p>
			<!-- This is a collapsible menu, by clicking in which item will open up a form to edit it. Pure beauty. I know-->
			<ul class="collapsible" style="position:relative; background-color: white;">
				<%
        data.forEach(function (book){ %>
				<li>
					<div class="collapsible-header"><i class="material-icons">local_library</i> <%= book.Title %> |
						<%= book.Subtitle %> by <%= book.Autor %></div>
					<div class="collapsible-body">
						<form class="col s12" enctype="application/json" action="/update" method="POST">
							<div class="row">
								<div class="input-field col s12">
									<input type="hidden" name="id" value="<%= book._id %>">
									<input placeholder="<%= book.Title %> " name="Title" type="text" class="validate"
                                       required="required" pattern="[a-zA-Z0-9à-úÀ-Ú '.]{1,50}"
                                       value="<%= book.Title %> ">
									<label for="title">Title *</label>
									<span class="helper-text"
                                      data-error="This is a mandatory field. It can only contain letters and numbers."
                                      data-success="Valid"></span>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12">
									<input placeholder="<%= book.Subtitle %>" name="Subtitle" type="text" class="validate"
                                       pattern="[a-zA-Z0-9à-úÀ-Ú '.]{1,50}" value="<%= book.Subtitle %>">
									<label for="subtitle">Subtitle *</label>
									<span class="helper-text" data-error="It can only contain letters and numbers."
                                      data-success="Valid"></span>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12">
									<input placeholder="<%= book.Autor %>" name="Autor" type="text" class="validate"
                                       required="required" pattern="[A-Za-z0-9 .']{1,50}" value="<%= book.Autor %>">
									<label for="author">Author *</label>
									<span class="helper-text"
                                      data-error="This is a mandatory field. It can only contain letters."
                                      data-success="Valid"></span>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12">
									<input placeholder="<%= book.Publisher %>" name="Publisher" type="text" class="validate"
                                       required="required" pattern="[A-Za-z ]{2,25}" value="<%= book.Publisher %>">
									<label for="publisher">Publisher *</label>
									<span class="helper-text"
                                      data-error="This is a mandatory field. It can only contain letters."
                                      data-success="Valid"></span>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12">
									<input placeholder="<%= book.Year %>" name="Year" type="text" class="validate"
                                       required="required" pattern="[0-9/ª ]{1,8}" value="<%= book.Year %>">
									<label for="year_edition">Edition *</label>
									<span class="helper-text" data-error="This is a mandatory field. Eg. 2019/1"
                                      data-success="Valid"></span>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12">
									<input placeholder="2019" name="ReadYear" type="text" class="validate"
                                       pattern="[0-9]{1,4}" value="<%= book.ReadYear %>">
									<label for="year_edition">Read in</label>
									<span class="helper-text" data-error="Enter the year. Eg. 2019"
                                      data-success="Valid"></span>
								</div>
							</div>
							<button onclick="M.toast({html: 'Book updated!'})" class="btn waves-effect waves-light"
                                type="submit" name="post">Save
                            <i class="material-icons right">save</i>
                        </button>
						</form>
						<!--Another form to the delele button, it only submit the ID-->
						<form class="col s12" enctype="application/json" action="/delete" method="POST">
							<input type="hidden" name="id" value="<%= book._id %>">
							<button onclick="M.toast({html: 'Book deleted!'})" class="btn waves-effect waves-light"
                                type="submit" name="post" style="margin-top: -65px; margin-left: 150px;">Delete
                            <i class="material-icons right">delete</i>
                        </button>
						</form>
					</div>
				</li>
				<% 
                // The for each function finishes here
        }); %>
			</ul>
		</div>


		<script type="text/javascript">
			//This function will make visible the read year input when the checkbox is checked...
              //If the user didnt read the book, there is no need to enter the year
                function unhide() {
        if (document.getElementById('checked').checked) {
            document.getElementById('year').style.visibility = 'visible';
        } else {
            document.getElementById('year').style.visibility = 'hidden';
        }
    }
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src="js/materialize.min.js"></script>
		<script>
			//Initialising Materialize CSS https://materializecss.com
             M.AutoInit();
		</script>
</body>

</html>